// colors
$c-azul: #1340df;
$c-azul-two: #1659ef;
$c-slate: #52647b;
$c-white: #ffffff;
$c-greenish-teal: #36ca75;
$c-pale-grey: #f5f8fb;
$c-light-blue-grey: #d7e1ea;
$c-slate-two: #3c4858;
$c-white-two: #f6f6f6;
$c-faded-red: #dc3c41;
$c-dark: #1f2732;
$c-dark-two: #262f3c;
$c-light-blue-grey-two: #d8e1e9;
$c-pale-grey-two: #e9f0f6;
$c-black: #000000;
$c-dark-blue: #15005b;
$c-aqua-green: #13e17f;
$c-silver: #dddedf;
$c-rouge: #961b1f;
