<div class="container-fluid dark-background">

  <div class="row dashboard-header">
    1
    <div ng-include src="'app/dashboard/dropdown_menu.html'"></div>

    <!-- Start of top menu -->
    <div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12 text-center">
      <h1 class="white-color">Greetings <span ng-if="vm.me.profile != null">{{vm.me.profile.firstname}}</span>,<br/>Welcome To The Grid.</h1>
      <p class="form-text-white">
        Before getting started, finish setting up your account by entering your billing information.
      </p>
    </div>
    <!-- End of top menu -->
  </div>

  <div ng-include src="'app/dashboard/top.html'"></div>

  <div class="row dashboard-main">

    <div class="message-bar dashboard-message" ng-include src="'app/dashboard/message_bar.html'"></div>

    <div class="container">
      <div class="col-md-12">
        <div class="content-block">

          <div class="left-section" ng-include src="'app/support/left_menu.html'"></div>

          <!-- Start of Profile form -->
          <div class="right-section">
            <h4 class="title">Contact Support</h4>
            <p class="form-text">
              System On Grid is made of dedicated technical support representitives who can quickly and clearly help with even the largest tasks.
            </p>
            <h4 class="form-title">Submit A Request</h4>
            <form role="form" ng-submit="vm.contactSupport();">
              <div class="row">
                <div class="col-sm-6 form-group">
                  <input type="email" class="form-control" placeholder="Your email address" ng-model="vm.contact.email" />
                </div>

                <div class="col-sm-6 form-group">
                  <input type="text" class="form-control" placeholder="Your Username" ng-model="vm.contact.username" />
                </div>
              </div>

              <div class="row">
                <div class="form-group col-sm-12">
                  <select class="form-control" placeholder="Address Continued" ng-model="vm.contact.help">
                    <option value="help">How Can We Help You Today?</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-sm-12">
                  <textarea class="form-control" placeholder="Please include any additional information here" ng-model="vm.contact.comment" rows="10" />
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-lg btn-success">Submit</button>
                </div>
              </div>
            </form>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
  </div>
</div>

<div ng-include src="'app/main/footer.html'"></div>
