<div ng-include src="'app/main/navbar.html'"></div>
<div class="container-fluid">

  <!-- Start intro section -->
  <div class="row feature-intro-section">
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12 text-center">
          <h1 class="white-color">
            Get More Out of the Cloud, Explore System On Grid’s Vast Universe of Features.
          </h1>
        </div>
      </div>

      <div class="row section-action">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12 text-center">
          <button class="btn btn-primary btn-lg mr30">Explore API Library</button>
          <button class="btn btn-success btn-lg">Find A #GridGuide</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End intro section -->

  <!-- Start feature tabs -->
  <div class="row feature-section">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#feature1">Feature 1</a></li>
        <li><a data-toggle="tab" href="#feature2">Feature 2</a></li>
        <li><a data-toggle="tab" href="#feature3">Feature 3</a></li>
        <li><a data-toggle="tab" href="#feature4">Feature 4</a></li>
      </ul>

      <div class="tab-content">
        <div id="feature1" class="tab-pane fade in active">
          <div class="row">
            <div class="col-sm-5 col-xs-12">
              <h3>Feature 1</h3>
              <div class="FormFocusText mt30">Seemlessly create and manage a Orbit (Virtual Machine) in under 40 seconds.</div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-xs-12">
              <h3>Explore the System</h3>
              <div class="FormFocusText mt30">Flexible cloud services allow you to fully control how much to spend by scaling up or down anytime.</div>
            </div>
          </div>
        </div>

        <div id="feature2" class="tab-pane fade">
          <div class="row">
            <div class="col-sm-5 col-xs-12">
              <h3>Feature 2</h3>
              <div class="FormFocusText mt30">Seemlessly create and manage a Orbit (Virtual Machine) in under 40 seconds.</div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-xs-12">
              <h3>Explore the System</h3>
              <div class="FormFocusText mt30">Flexible cloud services allow you to fully control how much to spend by scaling up or down anytime.</div>
            </div>
          </div>
        </div>

        <div id="feature3" class="tab-pane fade">
          <div class="row">
            <div class="col-sm-5 col-xs-12">
              <h3>Feature 3</h3>
              <div class="FormFocusText mt30">Seemlessly create and manage a Orbit (Virtual Machine) in under 40 seconds.</div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-xs-12">
              <h3>Explore the System</h3>
              <div class="FormFocusText mt30">Flexible cloud services allow you to fully control how much to spend by scaling up or down anytime.</div>
            </div>
          </div>
        </div>

        <div id="feature4" class="tab-pane fade">
          <div class="row">
            <div class="col-sm-5 col-xs-12">
              <h3>Feature 4</h3>
              <div class="FormFocusText mt30">Seemlessly create and manage a Orbit (Virtual Machine) in under 40 seconds.</div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-xs-12">
              <h3>Explore the System</h3>
              <div class="FormFocusText mt30">Flexible cloud services allow you to fully control how much to spend by scaling up or down anytime.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End feature tabs -->

  <!-- Start help section -->
  <div class="row help-section">
    <div class="col-sm-10 col-sm-offset-2">
      <div class="row" style="position: relative;">
        <div class="col-sm-6 feature-help">
          <h4>Need A Scalable Solution?</h4>
          <p class="Body-Copy-Light">Find a plan that works for you, scale up or down anytime.</p>
        </div>
        <div class="col-sm-6 text-center">
          <a ui-sref="pricing" class="btn btn-lg btn-success btn-view-price">View Pricing</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End help section -->

  <!-- Start orbit section -->
  <div class="row feature-orbit-section">
    <div class="col-sm-12">
      <div class="row" style="position: relative;">
        <div class="col-sm-6">
          <div>
            <h1 class="white-color">Build Your Private Orbit In The Cloud.</h1>
            <p class="Body-Copy-Light">
              Easily create an SSD Orbit (Virtual Machine) in less the 50 seconds! With data centers and regions around the world to help you scale nothing is easier.
            </p>
          </div>

          <div class="mt60">
            <div class="comment-section">
              <div class="comment">
                <div class="comment-photo">
                  <img src="assets/images/oval-1@2x.png" />
                </div>
                <div class="comment-desc">
                  <div class="TestimonialTextLight">
                    “System On Grid is the most reliable and easiest way to host my apps in the cloud, and I can adjust how much to pay every time something changes.”
                  </div>
                  <div class="Body-Copy-Light mt30">
                    - Sami Uman, CEO | Datawerks LLC
                  </div>
                </div>
              </div>

              <div class="comment">
                <div class="comment-photo">
                  <img src="assets/images/oval-1@2x.png" />
                </div>
                <div class="comment-desc">
                  <div class="TestimonialTextLight">
                    “System On Grid is the most reliable and easiest way to host my apps in the cloud, and I can adjust how much to pay every time something changes.”
                  </div>
                  <div class="Body-Copy-Light mt30">
                    - Sami Uman, CEO | Datawerks LLC
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 hidden-xs">
          <img src="assets/images/connective-pieces.svg" class="feature-img" />
        </div>
      </div>
    </div>
  </div>
  <!-- End orbit section -->

  <!-- Start signup section -->
  <div class="row signup-section">
    <div class="center-section">
      <div class="text-center show-in-medium">
        <img src="assets/images/grid-bot-icon@2x.png" class="grid-bot-image" />
      </div>
      <div class="text-center show-in-small">
        <img src="assets/images/grid-bot-icon.png" class="grid-bot-image" />
      </div>
      <div class="section-desc">
        Sign up and setup is ultra fast and completely free.
        <br />Only pay for the resources you need.
      </div>
      <div class="signup-setup">
        <form class="form-inline form-large">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="User Name" ng-model="username" />
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" ng-model="email" />
          </div>
          <a ui-sref="auth.signup({username: username, email: email})" class="btn btn-signup btn-lg">Sign Up</a>
        </form>
      </div>
    </div>
  </div>
  <!-- End signup section -->
</div>

<div ng-include src="'app/main/footer.html'"></div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".feature-section .nav-tabs a").click(function(e) {
      $(this).tab('show');
      e.preventDefault();
      // e.stopPropagation();
    });

    $(".feature-orbit-section .comment-section").slick({
      dots: true,
      infinite: false,
      arrows: false
    });
  });
</script>
