<div class="main">
  <div ng-include src="'app/main/navbar.html'"></div>
  <div class="container-fluid">
    <div class="row gray-section">
      <div class="col-sm-6">
        <div class="hidden-xs">
          <img src="assets/images/planet-grid@2x.png" class="img-responsive planet-image" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="description">
          <p class="section-title">Build Faster, Scale Easier.</p>
          <p class="section-desc">Explore how System On Grid helps you build <br/>and launch beyond the cloud.</p>
          <div class="section-action show-in-medium">
            <a href="#"><img src="assets/images/social-sign-up-button@2x.png" /></a>
            <a ui-sref="pricing" style="margin-left:79px;">View Pricing</a>
          </div>
          <div class="section-action show-in-small">
            <a href="#"><img src="assets/images/social-sign-up-button.png" /></a>
            <a ui-sref="pricing" style="margin-left:79px;">View Pricing</a>
          </div>
        </div>
      </div>
    </div>

    <div class="cloud-section">
      <img src="assets/images/cloud-border@3x.png" class="img-responsive" />
    </div>

    <div class="row distro-section">
      <div class="col-sm-6">
        <div class="description">
          <p class="section-title">Build Faster, Scale Easier.</p>
          <p class="section-desc">Explore how System On Grid helps you build <br/>and launch beyond the cloud.</p>
          <!-- Medium images -->
          <div class="section-action show-in-medium">
            <img src="assets/images/railsicon@2x.png" />
            <img src="assets/images/pythonicon@2x.png" />
            <img src="assets/images/javascripticon@2x.png" />
            <a ui-sref="pricing" style="margin-left: 35px;">View Pricing</a>
          </div>
          <!-- Small images -->
          <div class="section-action show-in-small">
            <img src="assets/images/railsicon.png" />
            <img src="assets/images/pythonicon.png" />
            <img src="assets/images/javascripticon.png" />
            <a ui-sref="pricing" style="margin-left: 35px;">View Pricing</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="pull-right hidden-xs">
          <img src="assets/images/data-pattern@2x.png" class="img-responsive" />
        </div>
      </div>
    </div>

    <div class="row speed-section text-center">
      <div class="col-sm-12">
        <div class="row">
          <div class="description">
            <div class="section-title">Speed & Reliability In Every Feature.</div>
            <div class="section-desc">
              Flexible cloud service that grows with your business or scales
              <br />down to deliver our cloud servies for everyday tasks.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="speed-subsection">
              <div class="sub-image">
                <img src="assets/images/build-icon@2x.png" />
              </div>
              <div class="subsection-content">
                <div class="subsection-title">
                  Seemless Building & Managment
                </div>
                <div class="subsection-desc">
                  Seemlessly create and manage a Orbit (Virtual Machine) in under 40 seconds.
                </div>
              </div>
            </div>

            <div class="speed-subsection">
              <div class="sub-image">
                <img src="assets/images/build-icon-copy@2x.png" />
              </div>
              <div class="subsection-content">
                <div class="subsection-title">
                  Flexible Scaleability
                </div>
                <div class="subsection-desc">
                  Flexible cloud services allow you to fully control how much to spend by scaling up or down anytime.
                </div>
              </div>
            </div>

            <div class="speed-subsection">
              <div class="sub-image">
                <img src="assets/images/build-icon-copy-2@2x.png" />
              </div>
              <div class="subsection-content">
                <div class="subsection-title">
                  Easy Deployment Anywhere
                </div>
                <div class="subsection-desc">
                  Eliminate downtime and find data centers and regions near you.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center" style="margin-top: 100px; margin-bottom:100px;">
          <a ui-sref="features">Explore All Features</a>
        </div>
      </div>
    </div>

    <div class="row help-section">
      <div class="guide">
        <div class="guide-image">
          <img src="assets/images/grid-guide-icon@2x.png" class="img-responsive" />
        </div>
        <div class="guide-desc text-left">
          Need some help?<br />
          View our helpful #gridguides or contact us with any questions.
        </div>
      </div>
    </div>

    <div class="row growing-section">
      <div class="col-sm-6">
        <div class="description">
          <div class="row">
            <div class="col-md-9 col-md-offset-3">
              <p class="section-title">Growing The System</p>
              <p class="section-desc">Join the many companies, people and businesses already building and scaling their technolgies, the grid way.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="hidden-xs">
          <img src="assets/images/partners@2x.png" class="img-responsive" />
        </div>
      </div>
    </div>

    <div class="row signup-section">
      <div class="center-section">
        <div class="text-center show-in-medium">
          <img src="assets/images/grid-bot-icon@2x.png" class="grid-bot-image" />
        </div>
        <div class="text-center show-in-small">
          <img src="assets/images/grid-bot-icon.png" class="grid-bot-image" />
        </div>
        <div class="section-desc">
          Sign up and setup is ultra fast and completely free.
          <br />Only pay for the resources you need.
        </div>
        <div class="signup-setup">
          <form class="form-inline form-large">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="User Name" ng-model="username" />
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" ng-model="email" />
            </div>
            <a ui-sref="auth.signup({username: username, email: email})" class="btn btn-signup btn-lg">Sign Up</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include src="'app/main/footer.html'"></div>
