/**
* Media queries
*/
/**
* Set a rem font size with pixel fallback
*/
/**
* SVG background images with PNG and retina fallback
*/
/**
* Animations and keyframes
*/
/**
* Transitions
*/
/**
* Cross browser opacity
*/
/**
* Visually hide an element
*/
/**
* Clearfix
*/
/**
* Border radius
*/
/**
* Positioning absolutely
*/
/**
* Media queries
*/
/**
* Set a rem font size with pixel fallback
*/
/**
* SVG background images with PNG and retina fallback
*/
/**
* Animations and keyframes
*/
/**
* Transitions
*/
/**
* Cross browser opacity
*/
/**
* Visually hide an element
*/
/**
* Clearfix
*/
/**
* Border radius
*/
/**
* Positioning absolutely
*/
@font-face {
  font-family: 'Muli-ExtraLight';
  font-style: normal;
  src: url("../fonts/Muli-ExtraLight.ttf"); }

@font-face {
  font-family: 'Muli-ExtraLightItalic';
  font-style: normal;
  src: url("../fonts/Muli-ExtraLightItalic.ttf"); }

@font-face {
  font-family: 'Muli-Bold';
  font-style: normal;
  src: url("../fonts/Muli-Bold.ttf"); }

@font-face {
  font-family: 'Muli-BoldItalic';
  font-style: normal;
  src: url("../fonts/Muli-BoldItalic.ttf"); }

@font-face {
  font-family: 'Muli-Light';
  font-style: normal;
  src: url("../fonts/Muli-Light.ttf"); }

@font-face {
  font-family: 'Muli-LightItalic';
  font-style: normal;
  src: url("../fonts/Muli-LightItalic.ttf"); }

@font-face {
  font-family: 'Muli-SemiBold';
  font-style: normal;
  src: url("../fonts/Muli-SemiBold.ttf"); }

@font-face {
  font-family: 'Muli-SemiBoldItalic';
  font-style: normal;
  src: url("../fonts/Muli-SemiBoldItalic.ttf"); }

@font-face {
  font-family: 'Muli-Normal';
  font-style: normal;
  src: url("../fonts/Muli.ttf"); }

@font-face {
  font-family: 'Muli-Italic';
  font-style: normal;
  src: url("../fonts/Muli-Italic.ttf"); }

.HeadlineLight {
  font-size: 40px;
  font-size: 2.5rem;
  letter-spacing: 0.8px;
  font-family: "Muli-ExtraLight";
  color: #ffffff; }

.Headline {
  font-size: 40px;
  font-size: 2.5rem;
  letter-spacing: 0.8px;
  font-family: "Muli-ExtraLight";
  color: #52647b; }

.PriceText {
  font-size: 36px;
  font-size: 2.25rem;
  font-family: "Muli-Bold";
  color: #52647b; }

.Subtext {
  font-size: 24px;
  font-size: 1.5rem;
  letter-spacing: 0px;
  font-family: "Muli-Light";
  color: #52647b; }

.SubtextLight {
  font-size: 24px;
  font-size: 1.5rem;
  letter-spacing: 0px;
  font-family: "Muli-Light";
  color: #ffffff; }

.FormForcusTextAlt {
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.3px;
  font-family: "Muli-Light";
  color: #ffffff; }

.FormHintTextAlt {
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.3px;
  font-family: "Muli-Light";
  color: #3c4858; }

.Body-Copy-Light {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.6;
  letter-spacing: 0.3px;
  font-family: "Muli-Light";
  color: #ffffff; }

.FormFocusText {
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.3px;
  font-family: "Muli-Light";
  color: #52647b; }

.Body-Copy {
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.3px;
  font-family: "Muli-Light";
  color: #52647b; }

.FormHintText {
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.3px;
  font-family: "Muli-Light";
  color: #d7e1ea; }

.TestimonialTextDark {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1;
  letter-spacing: 0.2px;
  font-family: "Muli-LightItalic";
  color: #52647b; }

.TestimonialTextLight {
  font-family: "Muli-LightItalic";
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.2px;
  color: #ffffff; }

.MiniHeadingText {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-family: "Muli-Bold";
  color: #52647b; }

.SimpleLinkHover {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.3px;
  font-family: "Muli-SemiBold";
  color: #d8e1e9; }

.Text-Style {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.3px;
  font-family: "Muli-SemiBold";
  color: #52647b; }

.Navigation-Text {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.3px;
  font-family: "Muli-SemiBold";
  color: #52647b; }
  @media (max-width: 767px) {
    .Navigation-Text {
      font-size: 12px;
      font-size: 0.75rem; } }

.Navigation-Text-Light {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.9;
  letter-spacing: 0.3px;
  font-family: "Muli-SemiBold";
  color: #f6f6f6; }
  @media (max-width: 767px) {
    .Navigation-Text-Light {
      font-size: 12px;
      font-size: 0.75rem; } }

.SimpleLinkLight {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.3px;
  font-family: "Muli-SemiBold";
  color: #ffffff; }

.ButtonTextLight {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.3px;
  font-family: "Muli-SemiBold";
  color: #ffffff; }

.NavigationTextLightHover {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Muli-SemiBold";
  line-height: 2.8;
  letter-spacing: 0.3px;
  color: #52647b; }

.MobileBodyTextLight {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "Muli-Normal";
  letter-spacing: 0.3px;
  color: #f6f6f6; }

.MobileNavText {
  font-size: 12px;
  font-size: 0.75rem;
  font-family: "Muli-SemiBold";
  letter-spacing: 0.2px;
  color: #f6f6f6; }

.BoilerPlateText {
  font-size: 10px;
  font-size: 0.625rem;
  font-family: "Muli-Normal";
  letter-spacing: 0.2px;
  color: #52647b; }

.ActionText {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Muli-Normal";
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #dc3c41; }

.myaccount-section .form-title {
  margin-top: 60px !important; }
  @media (max-width: 767px) {
    .myaccount-section .form-title {
      margin-top: 40px !important; } }

.subscription-form .form-group {
  margin-bottom: 15px !important; }

.subscription-form .checkbox-inline {
  line-height: 1.5 !important; }

.profile-photo {
  cursor: pointer;
  width: 76px;
  height: 76px; }

.invoice-table {
  margin-top: 100px;
  margin-bottom: 100px; }
  @media (max-width: 767px) {
    .invoice-table {
      margin-top: 50px;
      margin-bottom: 50px; } }
  .invoice-table th {
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    border-bottom: 0 !important; }
  .invoice-table td {
    padding-top: 17px !important;
    padding-bottom: 17px !important;
    border-top: 0 !important; }
