<div class="container-fluid dark-background">

  <div class="row dashboard-header">

    <div ng-include src="'app/dashboard/dropdown_menu.html'"></div>

    <!-- Start of top menu -->
    <div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12 text-center">
      <h1 class="white-color">Greetings <span ng-if="vm.me.profile != null">{{vm.me.profile.firstname}}</span>,<br/>Welcome To The Grid.</h1>
      <p class="form-text-white">
        Before getting started, finish setting up your account by entering your billing information.
      </p>
    </div>
    <!-- End of top menu -->
  </div>

  <div ng-include src="'app/dashboard/top.html'"></div>

  <div class="row dashboard-main">

    <div class="message-bar dashboard-message" ng-include src="'app/dashboard/message_bar.html'"></div>

    <div class="container">
      <div class="col-md-12">
        <div class="content-block">

          <div class="left-section" ng-include src="'app/orbits/left_menu.html'"></div>

          <!-- Start of Billing form -->
          <div class="right-section">
            <h4 class="title">SSH Keys</h4>
            <p class="form-text">
              Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl.
            </p>
            <h4 class="form-title">Create A New SSH Key</h4>
            <form class="" role="form" name="orbitForm" ng-submit="vm.createKey()">
              <div class="row">
                <div class="form-group col-sm-12">
                  <input type="text" class="form-control" placeholder="SSH Key Name" ng-required="true" ng-model="vm.ssh.keyname" />
                </div>
              </div>

              <div class="row">
                <div class="form-group col-sm-12">
                  <textarea class="form-control" placeholder="SSH Key" rows="10" ng-required="true" ng-model="vm.ssh.keyvalue" />
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-lg btn-success">Create SSH Key</button>
                </div>
              </div>
            </form>

            <h4 class="form-title">Manage SSH Keys</h4>
            <p class="form-text">
              Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl.
            </p>

            <div class="row" ng-if="vm.me.sshkeys != null">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table orbits-table">
                    <thead>
                      <tr>
                        <th width="70%">Key Name</th>
                        <th width="30%">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="key in vm.me.sshkeys">
                        <td>{{ key.keyname }}</td>
                        <td>
                          <a ng-click="vm.showEditModal(key);">Edit</a>
                          <a class="ml15 ActionText" ng-click="vm.deleteKey(key.id);">Delete</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Billing form -->
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include src="'app/main/footer.html'"></div>
